{% extends 'base.html.j2' %} {% block header %}
<h1>{% block title %}{{_("All Uploads")}}{% endblock %}</h1>
{% endblock %} {% block content %}
<table 
    class="bg-primary text-white"
    id="table"
    data-id-field="_id"
    data-toggle="table"
    data-height="460"
    data-url="/upload/list.json"
    data-response-handler="tableResponseHandler"
    data-search="true"
    data-side-pagination="server"
    data-pagination="true"
    data-show-extended-pagination="true"
    data-show-refresh="true"
    data-show-toggle="true"
    data-show-columns="true"
    data-click-to-select="true"
    data-show-columns-toggle-all="true"
    data-multiple-select-row="true">
    <thead>
        <tr>
            <th data-checkbox="true"></th>
            <th data-field="name" data-sortable="true">{{_("Name")}}</th>
            <th data-field="file" data-sortable="true">{{_("File")}}</th>
            <th data-field="width" data-sortable="true">{{_("Width")}}</th>
            <th data-field="height" data-sortable="true">{{_("Height")}}</th>
            <th data-field="mime" data-sortable="true">{{_("MIME Type")}}</th>
        </tr>
    </thead>
</table>
{% endblock %}