{% from "formFieldBootstrap.html.j2" import render_field with context %}

<form method="post">
  {{ form.csrf_token }}
  <div class="form-row">
    <div class="form-group col-md-6">
        {{ render_field(form.lang, autocomplete="language") }}
    </div>
    <div class="form-group col-md-6">
      {{ render_field(form.location.country, autocomplete="country") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      {{ render_field(form.email, autocomplete="email") }}
    </div>
    <div class="form-group col-md-4">
      {{ render_field(form.phone, autocomplete="tel") }}
    </div>
    <div class="form-group col-md-4">
      {{ render_field(form.birthday, autocomplete="bday") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ render_field(form.password, autocomplete="new-password") }}
    </div>
    <div class="form-group col-md-6">
      {{ render_field(form.confPassword, autocomplete="new-password") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      {{ render_field(form.firstName, autocomplete="given-name") }}
    </div>
    <div class="form-group col-md-2">
      {{ render_field(form.middleName, autocomplete="additional-name") }}
    </div>
    <div class="form-group col-md-5">      
      {{ render_field(form.lastName, autocomplete="family-name") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">      
      {{ render_field(form.location.address1, autocomplete="address-line1") }}
    </div>
    <div class="form-group col-md-6">      
      {{ render_field(form.location.address2, autocomplete="address-line2") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">      
      {{ render_field(form.location.state, autocomplete="address-level1") }}
    </div>
    <div class="form-group col-md-5">      
      {{ render_field(form.location.city, autocomplete="address-level2") }}
    </div>
    <div class="form-group col-md-3">   
      {{ render_field(form.location.zip, autocomplete="postal-code") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">   
      {{ render_field(form.userType) }}
    </div>
    <div class="form-group col-md-4">   
      {{ render_field(form.pronouns) }}
    </div>
    <div class="form-group col-md-4">  
      {{ render_field(form.gender) }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-9">
      {{ render_field(form.info) }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-9">
      {{ render_field(form.icon, with_label=True) }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">
    {% if edit == True %}
      {{ _("Save") }}
    {% else %}
      {{ _("Register") }}
    {% endif %}
  </button>
</form>