{% extends 'base.html.j2' %}
{% from "formFieldBootstrap.html.j2" import render_field with context %}

{% block header %}
<h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  {{ form.csrf_token }}
  <div class="form-group">
    {{ render_field(form.email) }}
  </div>
  <div class="form-group">
    {{ render_field(form.password) }}
  </div>
  <div class="form-group">
    {{ render_field(form.rememberMe) }}
  </div>
  <input type="submit" value="Login" class="btn btn-primary">
</form>
{% endblock %}